@import '~sass/variables';
@import '~sass/colors';

.sign-in-container {
    background: $sign-in-background;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sign-in-box {
        text-align: center;
        padding: 40px;

        .forgot-password-link {
            padding: 15px;
            color: black;
            text-decoration: none;
        }

        .test {
            background: $button-background;
            color: $white-01;
            width: 100%;
            text-transform: none;
            padding: 15px;
            font-size: 20px;
        }
    }
}