@import '~sass/variables';
@import '~sass/colors';

.sign-up-container {
    background: $sign-in-background;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .sign-up-box {
        text-align: center;
        padding: 40px;

        .sign-up-button {
            background: $button-background;
            color: $white-01;
            width: 100%;
            margin-top:30px;
            text-transform: none;
            padding: 15px;
            font-size: 20px;
            border-radius: 3px;
        }
        .sign-in-with-facebook-button {
            color: $white-01;
            width: 100%;
            border-radius: 3px;
            padding: 15px;
            text-transform: none;	
            font-size: 14px;
            background-color: #3B5998;	
        }
        .sign-in-with-google-button {
            margin-top:20px;
            width: 100%;
            color: #535352;
            border-radius: 3px;
            padding: 15px;
            text-transform: none;	
            font-size: 14px;
            background-color: #FFFFFE;	
        }
    }
  
}