@import '~sass/variables';
@import '~sass/colors';
@import '~sass/mixins';

html, body {
    background: $sign-in-background;
    width: 100%;
    height: 100%;
    margin: 0;
}

.forgot-password-container {
    @include center-item();

    .sign-in-link {
        @include link();
    }

    .forgot-password-box {
        text-align: center;
        padding: 40px;

        .information-text {
            align:center;
            max-width: 300px;
            font-size:14px;
            line-height:17px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .forgot-password-button {
            @include button();
        }
    }
}