
.project-viewer {
    flex-grow: 1;
    margin-left: 30px;
    margin-right: 105px;
    margin-top: 25px;
}

.projects-container {
    margin-top: 25px;
    overflow-y: scroll;
    height: 1000px;

    &:last-child {
        margin-bottom: 500px;
    }
}