@import '~sass/variables';

@mixin center-item() {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin button(){
    background: $button-background;
    color: $white-01;
    width: 100%;
    margin-top:30px;
    text-transform: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 3px;
}