@import '~sass/variables';
@import '~sass/colors';
@import '~sass/mixins';

html, body {
    background: $sign-in-background;
    width: 100%;
    height: 100%;
    margin: 0;
}

.reset-password-container {
     @include center-item();

    .sign-in-link {
        color: white;
        font-size: 18px;
        text-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        padding: 30px;
        text-decoration: none;
    }

    .reset-password-box {
        text-align: center;
        padding: 40px;

        button:disabled {
            opacity:0.5
        }
      
        .reset-password-button {
            @include button()
        }
    }
}