@import '~sass/variables';
@import '~sass/colors';
@import '~sass/mixins';

html, body {
    background: $sign-in-background;
    width: 100%;
    height: 100%;
    margin: 0;
}
.sign-up-container {
    @include center-item();

    
    .sign-in-link {
        @include link();
    }

    .sign-up-box {
        text-align: center;
        padding: 40px;

        .sign-up-button {
           @include button();
        }
        button:disabled {
            opacity:0.5
        }
        .sign-in-with-facebook-button {
            color: $white-01;
            width: 100%;
            border-radius: 3px;
            padding: 15px;
            text-transform: none;	
            font-size: 14px;
            background-color: #3B5998;	
        }
        .sign-in-with-google-button {
            margin-top:20px;
            width: 100%;
            color: #535352;
            border-radius: 3px;
            padding: 15px;
            text-transform: none;	
            font-size: 14px;
            background-color: #FFFFFE;	
        }
     
    }
  
}