@import '~sass/variables';
@import '~sass/colors';
@import '~sass/mixins';

@include pinkGradientBackground();

.sign-up-container {
    @include center-item();

    
    .sign-in-link {
        @include link();
    }

    .sign-up-box {
        text-align: center;
        padding: 40px;

        .sign-up-button {
           @include button();
           margin-top:30px;
        }
        button:disabled {
            opacity:0.5
        }
    }
}